{% if admin.isCurrentRoute('edit') and admin.hasRoute('optimize') %}
    <li>
        <a class="sonata-action-element" href="{{ path('admin_app_sonata_media_optimize',{'id': admin.subject.id}) }}">
            <i class="fa fa-repeat" aria-hidden="true"></i>
            {{ 'optimize.image'|trans({}, 'TinyPngSonataMediaBundle') }}
        </a>
    </li>
{% endif %}
